    @{
    ViewBag.Title = "Jugar";
}
@section Image{
    '/Public/Image/P.jpg'
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/MyStyles.css" />
    <link rel="stylesheet" href="~/Content/MyStyles2.css" />

</head>
<body>
    <header>
        <nav class="btn navbar float-right letra-negra align-content-lg-center">
            <a href="~/PantallaPrincipal/PantallaPrincipal" class="letra-negra"><div class="boton-atras red">X</div></a>
        </nav>
    </header>
    <header>
        <div class="row align-content-lg-center justify-content-center" style="height:60vh">
            <div class="col col-sm-4">
                <br />
                <div>
                    <a href="~/PantallaPrincipal/Individual" class="btn btn-block coffe redondear btn-outline-warning"><h2 class="text-white align-content-center ">INDIVIDUAL</h2>
                    </a>
                </div>
                <br />
                <br />
                <br />
                <div>
                    <a class="btn btn-block coffe redondear btn-outline-warning"><h2 class="text-white align-content-center ">MULTIJUGADOR</h2></a>
                </div>
                <br />
            </div>
        </div>
    </header>
    <nav class="container">
        <br />
        <footer>
            <nav class="row-cols-md-6 navbar navbar-default navbar-fixed-bottom navbar-inverse green2 font-monospace borde-amarillo2">
                <div class="container-fluid navbar-left">
                    <h1 class="align-content-lg-end tipo-letra text-white">OTHELLO</h1>
                </div>
                <div class="container-fluid">
                    <h2 class="tipo-letra text-white" style="margin-bottom:5px">JUGAR</h2>
                </div>
                <div class="container-fluid">
                    <a href="~/PantallaPrincipal/Torneo"></a>
                    <h2 class="text-white tipo-letra text-white">TORNEO</h2>
                </div>
                <div class="container-fluid">
                    <a href="~/PantallaPrincipal/Historial"></a>
                    <h2 class="text-white tipo-letra text-white">HISTORIAL</h2>
                </div>
            </nav>
        </footer>
    </nav>

</body>
