.black {
    background:linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(69,69,69,1) 52%, rgba(0,0,0,1) 97%);
    font: white;
    font-family: times;
}
.blue {
    background:linear-gradient(270deg, rgba(6,22,71,1) 0%, rgba(29,23,152,1) 52%, rgba(5,11,39,1) 97%);
    font: white;
    font-family: times;
}
.coffe {
    background: linear-gradient(270deg, rgba(100,0,0,1) 0%, rgba(54,25,12,1) 52%, rgba(100,0,0,1) 97%);
    font: white;
    font-family: times;
}
.yellow {
    background: linear-gradient(90deg, rgba(236,221,88,1) 0%, rgba(242,255,6,1) 48%, rgba(236,221,88,1) 100%);
    font: white;
    font-family: times;
}
.blackExtreme {
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(69,69,69,1) 52%, rgba(0,0,0,1) 97%);
    position: absolute;
    left: 12px;
    height: 60px;
    width: 600px;
}
.extreme {
    background: linear-gradient(90deg, rgba(71,126,89,1) 0%, rgba(69,90,102,1) 48%, rgba(65,101,59,1) 100%);
    font: white;
    font-family: times;
}

.greenF {
    background: linear-gradient(90deg, rgba(22,180,29,1) 0%, rgba(12,255,6,1) 48%, rgba(50,222,22,1) 100%);
    font: white;
    font-family: times;
}
.orange {
    background: #FF5733;
    font: white;
    font-family: times;
}

.magenta {
    background: linear-gradient(90deg, rgba(248,0,219,1) 0%, rgba(172,0,143,1) 48%, rgba(255,15,207,1) 100%);
    font: white;
    font-family: times;
}
.skyblue {
    background: linear-gradient(90deg, rgba(14,217,210,1) 0%, rgba(0,108,172,1) 48%, rgba(15,255,243,1) 100%);
    font: white;
    font-family: times;
}


.tipo-letra {
    font-family: times;
}
.letra-negra {
    color: black;
}
.verdecitochido {
    background: rgb(64,191,51);
    font: white;
}
.green2 {
    background: linear-gradient(270deg, rgba(8,34,9,1) 0%, rgba(25,143,13,1) 52%, rgba(8,34,9,1) 97%);
    font: white;
}

.borde-amarillo2 {
    border-top-width: 5px;
    border-top-color: rgb(221,221,35);
}

.boton-borde {
    border-bottom-width: 3px;
    border-bottom-color: black;
}
.boton-atras {
    width: 50px;
    height: 50px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    line-height: 32px;
    text-transform: uppercase;
    float: left;
}

.fichas {
    width: 48px; 
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: left;
}
.fichas2 {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.posible {
    background-color: gray;
}

.margen-superior {
    border-top-width: 30px;
}

#tablero {
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(69,69,69,1) 52%, rgba(0,0,0,1) 97%);
    position: absolute;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 500px;
}
.casilla {
    width: 50px;
    height: 50px;
    float: left;
    font-size: 3em;
    color: white;
    font-family: times;
    border: black 0.5px solid;
}

#posicionBotonoes {
    position: absolute;
    top: 450px;
    left: 950px;
    width: 200px;
    height: 200px;
}

.puntaje {
    position: absolute;
    left: 100px;
    width: 60px;
    height: 60px;
    font-size: 3em;
    text-align: left;
    color: white;
    font-family: times;
}
.puntaje2 {
    width: 60px;
    height: 60px;
    font-size: 3em;
    text-align: center;
    color: black;
    font-family: times;
}

#posicion {
    position: relative;
    top: 90px;
    left: 60px;
    height: 200px;
}
#posicion2 {
    position: absolute;
    top: 270px;
    left: 260px;
    height: 180px;
}
#contenedor {
    position: absolute;
    left: 90px;
    height: 60px;
    width: 60px;
}
#tablero2 {
    border-radius: 50px;
    background: gray;
    position: absolute;
    top: 50px;
    left: 700px;
    width: 600px;
    height: 350px;
}
#tablero3 {
    border-radius: 50px;
    background: gray;
    position: absolute;
    top: 50px;
    right: 50px ;
    width: 600px;
    height: 350px;
}
.marron {
    background: linear-gradient(270deg, rgba(100,0,0,1) 0%, rgba(54,25,12,1) 52%, rgba(100,0,0,1) 97%);
    position: absolute;
    left: 12px; 
    height: 60px;
    width: 600px;
}
.borde1 {
    border-radius: 50px 50px 0px 0px;
}


.active{
    background:red;
}

button.btn:active{
    background:red;
}
.gray {
    background-color: gray;
}
.borde {
    box-shadow: inset 0 0 0 50px;
}
#footer {
    width: 100px;
}

#Tablero {
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.fila {
    padding: 0px;
}

.fas, .far {
    font-size: 40px;
}

.caja {
    border: 1px solid white;
    width: 48px;
    height: 48px;
    float: left;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in {
    background-color: rgb(122, 122, 122);
}

.fi_negra {
    width: 40px;
    height: 40px;
    border: 0px solid black;
    border-radius: 50%;
    background-color: rgb(35, 35, 35);
}

@font-face {
    font-family: 'digital_dream';
    src: url('digital_dream/digitaldreamfatskew-webfont.eot');
    src: url('digital_dream/digitaldreamfatskew-webfont.eot?#iefix') format('embedded-opentype'), url('digital_dream/digitaldreamfatskew-webfont.woff2') format('woff2'), url('digital_dream/digitaldreamfatskew-webfont.woff') format('woff'), url('digital_dream/digitaldreamfatskew-webfont.ttf') format('truetype'), url('digital_dream/digitaldreamfatskew-webfont.svg#digital_dream_fat_skewregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#cronometro {
    padding: 10px;
    border: 5px #7c7bff double;
    width: 200px;
    text-align: center;
    background-color: #007;
    border-radius: 5px;
    float: right;
    margin: 1em 3em 1em 3em;
}

#reloj {
    padding: 5px 10px;
    width: 90%;
    border: 1px solid black;
    font: normal 1em digital_dream, europa, arial;
    text-align: center;
    margin: 4px;
    background-color: #f0ffff;
    border-radius: 3px;
}

#cronometro [type=button] {
    margin: 4px;
    font: normal 9pt arial;
    width: 70px;
} 